.header,
.features,
.about-job {
  background-color: var(--background-color1);
}

.our-team {
  background-color: var(--background-color2);
}

.hero {
  background-color: var(--background-color3);
  width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}

.hero .container {
  color: var(--foreground-color3);

  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  width: 890px;
  margin-left: auto;
  margin-right: auto;

  padding-top: 200px;
}

.hero-title {
  /* width: 700px;
  height: 120px; */
  /* padding-top: 200px; */
  margin-left: auto;
  margin-right: auto;
}

.hero-button {
  background-color: var(--hoverfocus-color);
  color: var(--foreground-color3);
  font-family: inherit;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  width: 216px;
  height: 50px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
}

.features .container,
.about-job .container,
.our-team .container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.features-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-description {
  color: var(--foreground-color2);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.about-job .title,
.our-team .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-team .position {
  color: var(--foreground-color2);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
