body {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.projects .container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.buttons-container .list {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  column-gap: 8px;
}

.buttons-sort {
  background-color: var(--background-color2);
  color: var(--foreground-color1);
  font-family: inherit;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
}

.buttons-sort:hover,
.buttons-sort:focus {
  background-color: var(--hoverfocus-color);
  color: var(--foreground-color3);
}

.projects {
  padding-top: 94px;
  padding-bottom: 94px;
  display: grid;
  row-gap: 34px;
}

.projects .title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects .kind {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--foreground-color2);
}
